/* Title section */
.auth-title {
  width: 100%;
  padding: 16px;
  text-align: center;
  font-size: 24px;
}

/* Form container */
.auth-form-container {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.auth-form {
  width: 300px;
}

.auth-input {
  width: 100%;
  margin-bottom: 10px;
  border: solid black 1px;
  padding: 10px;
  font-size: 14px;
  transition: border-color 0.2s, box-shadow 0.2s;
  position: relative;
  z-index: 1;
  padding-right: 2rem;
}

.auth-input:focus {
  outline: none;
  border-color: #ffffff;
  box-shadow: 0 0 0 3px #dab2ff;
}

.auth-input[type="password"] {
  padding-right: 2rem;
}

/* Password Toggle */
.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-75%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 99;
}

.toggle-password button {
  z-index: 99;
}

/* Submit button */
.auth-submit-container {
  padding: 25px 0 10px 0;
  text-align: center;
}

.auth-submit-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  background-color: #ae58ff;
  color: white;
  cursor: pointer;
}

.auth-submit-button:hover {
  background-color: #0056b3;
}

/* Redirect link */
.auth-redirect {
  width: 100%;
  padding: 16px;
  text-align: center;
  font-size: 14px;
}

.auth-redirect a {
  color: purple;
  font-weight: bold;
  text-decoration: none;
}

.auth-redirect a:hover {
  text-decoration: underline;
}
